<h1>All Trucks</h1>

<h1> Find a Nearby Food Truck </h1>

<% if @trucks.length > 0 %>
  <% @trucks.each do |truck| %>
    <li> <%= link_to truck.name, truck_path(truck)%></li>
  <% end %>
<% else %>
  <p>No Trucks yet, check back later.</p>
<% end %>
