<h1> <%= @truck.name %></h1>

<p>Description: <%= @truck.description %></p>



<p>Reviews:</p>
<% @reviews.each do |review| %>
  <div>
    <p>Rating: <%= review.rating %></p>
    <p>Description: <%= review.description %></p>
  </div>
<% end %>
