<div class="name">
  <%= "#{@user.first_name} #{@user.last_name}" %>
</div>

<div class="edit">
  <%= link_to('Edit Profile', edit_user_registration_path) %>
</div>

<div class="email">
  <%= @user.email %>
</div>

<%= image_tag(@user.avatar, :alt => "Profile Image", :class => "profile-image")%>
