.profile-left-gutter {
  position: relative;
  float: left;
  height: 100%;
  width: calc((100% - 1000px) / 2);
}
.profile {
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
  max-width: 1000px;
}


.profile-details {
  position: reative;
  float: left;
  width: 250px;
  background: white;
}
.profile-details > .name {
  font-size: 20pt;
  margin-left: 10px;
  color: var(--accent-color-2);
}
.profile-details > .email {
  font-size: 14pt;
  margin-left: 10px;
}
.profile-details .picture {
  width: 100%;
  height: auto;
}

.profile-details .edit {
  margin-left: 10px;
}

.profile-details > .picture > .profile-image {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.profile-details > .number-reviews {
  margin-left: 10px;
  margin-top: 10px;
}


.user-reviews {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: calc(100% - 250px);
}

.user-reviews div {
  padding: 0;
}
.user-reviews .review-content > div {
  padding: 5px;
}
.user-reviews .review {
  position: relative;
  float: left;
  margin: 20px 10px;
  min-height: 100px;
  width: calc(100% - 22px);
}
.user-reviews .review-content {
  position: relative;
  float: left;
  width: 80%;
  /* height: 100%; */
  background: var(--main-color);
}
.user-reviews .review-truck-name {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18pt;
}
.user-reviews .review-rating {
  position: relative;
  float: left;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14pt;
  padding: 0;
}
.user-reviews .review-description {
  position: relative;
  float: left;
  width: 100%;
  /* height: 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14pt;
  padding: 0;
}
.user-reviews .review-vote-container {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  background: var(--main-color);  
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.user-reviews .review-vote-container div {
  margin: 10px;
}